.nav__container {
    height: 10vh;
    width: 100%;
    padding: 1rem 3.2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.nav__container--nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon {
    font-size: 2rem;
}

.nav__container-bg {
    background-color: var(--background-color);
}

.searchbar__container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    border: 2px solid var(--secondary-color);
}

.searchbar__container .input__field,
.searchbar__container .input__field:focus-visible {
    border: 2px solid transparent;
    outline: none;
    box-shadow: none;
}

.searchbar__container .icon {
    padding: 0;
}

.searchbar__input--field {
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.searchbar__input--field::placeholder {
    font-size: 1.5rem;
}

.side--bar-content {
    width: 100%;
    display: none;
}

#btn--menu-open {
    display: block
}

#btn--menu-close {
    display: none;
}

.main__container {
    padding: 1.5rem;
    width: 100%;
    background-color: var(--light-white-bg);
}

.main--content {
    display: block;
}

.filler--content {
    padding: 1.5rem;
    font-size: 1.5rem;
}

@media (max-width: 400px) {
    .nav__container--nav-list>* {
        font-size: 75%;
    }
    .nav__container {
        height: 8vh;
        padding: 1rem 1.5rem;
    }
}