.card {
    display: flex;
    height: fit-content;
    border-radius: 1.6rem;
    font-family: roboto, arial, helvetica;
    background-color: white;
    position: relative;
    border: 1px solid var(--border-color);
}

.card:hover {
    box-shadow: var(---box-shadow--card);
    border: 1px solid var(--primary-color);
    transition: all 0.2s;
}

.card a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.795);
}

.card.vertical {
    min-width: 18rem;
    flex-direction: column;
}

.vertical .card__product--img {
    padding: 3rem 3rem 0 3rem;
}

.vertical .img {
    width: 65%;
    margin: auto;
}


/*---------------badge---------------*/

.card__product--img .badge--text {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: clamp(0.8rem, 6vw - 1rem, 1.2rem);
}


/*--------------Card Content------------*/

.card__product--content {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.card__product--content>* {
    margin-bottom: 0.5rem;
}

.card__product--content .card__product--category {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--secondary-color);
}

.card__product--title,
.card__product--title--overlay {
    font-size: 2rem;
}

.card__product--company {
    font-size: 1.4rem;
}

.card__product--content p {
    display: -webkit-box;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: bold;
    -webkit-box-orient: vertical;
    line-height: 1.3;
    color: var(--secondary-color);
    -webkit-line-clamp: 2;
}

.card__product--details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product__price {
    margin-right: auto;
}

.product__price>* {
    margin-right: 0.5rem;
}

.product__price-selling {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.product__price-cost {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: rgba(0, 0, 0, .54);
}


/*-----------------Buttons--------------------*/

.card__btn--container {
    display: flex;
    flex: 1 1 auto;
}

.card__btn--container .btn {
    font-size: clamp(1.4rem, 6vw - 1rem, 1.5rem);
    width: 100%;
    max-width: 20rem;
    padding: 0.5rem 0rem;
    font-weight: 700;
}

.card__btn--add-to-cart {
    background-color: var(--primary-color);
    color: var(--primary-color-dark);
}

.card__btn--remove-from-cart {
    font-size: clamp(1rem, 6vw - 1.5rem, 2rem);
    background-color: var(--gray--light-color);
    color: var(--gray-color);
}

.btn-main {
    display: inline-block;
}

.btn-minus,
.btn-plus {
    display: none;
}


/*---------------Icons----------------------*/

.card__btn-icon {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 0.8rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--gray-color);
    background-color: var(--gray--light-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.card__btn-close:hover,
.card__btn-fav:hover {
    color: var(--red-color);
}

.card__btn-close:active,
.card__btn-fav:active {
    color: var(--red--dark-color);
}

.in--wishlist {
    color: var(--red--dark-color);
}


/*----- Horizontal card -----*/

.card.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.horizontal .img {
    width: 75%;
    min-width: 10rem;
    max-width: 15rem;
    margin: auto;
}

.horizontal .card__product--img {
    width: 40%;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.hide {
    display: none;
}


/*--------------------disabled-----------------*/

.card .disabled {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    z-index: 5;
    display: flex;
    align-items: center;
    background: #e3e3e3be;
    justify-content: center;
    opacity: 1;
    backdrop-filter: blur(2px);
}

.disabled--text {
    padding: 1rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
}


/*--------------------------------------------*/