<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/logo--eye.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0b539878e8.js" crossorigin="anonymous"></script>

    <title>View.I</title>
</head>

<body>
    <div class="nav__container box-shadow">
        <div class=" logo ">
            <a class="anchor-style--none " href="/index.html ">
                <span class="logo--title logo--title-black ">View<span class="dot ">.</span>I
                <img src="/images/logo--eye.png " alt=" " class="logo--img img-responsive "> </span>
            </a>
        </div>
        <nav class="nav__container--nav-list">
            <ul class="list-bulletless social-links">
                <li><a href="https://twitter.com/sanathkumar267?s=08"><i class="sociallinks__icon-twitter fab fa-twitter"></i></a></li>
                <li><a href="https://github.com/sanathkumar26700"><i class="sociallinks__icon-github fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/sanath-kumar-g-v-317206193"><i class="sociallinks__icon-linkedin fab fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div>
    <section class="main__container ">
        <aside class="main__container--sidebar side-shadow">
            <nav class="list-bulletless">
                <li>
                    <a class="anchor-style--none sidebar--listitem-title--animated sidebar--listitem-title" href="/index.html#installation">Installation</a>
                </li>
                <li class="margin-btm-lg">
                    <a class="anchor-style--none sidebar--listitem-title">Components</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem " href="/Components/Alert component/alert.html">Alerts</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem" href="/Components/Avatar component/avatar.html">Avatar</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem " href="/Components/Badges components/badges.html">Badge</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem" href="/Components/Button component/button.html">Button</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem " href="/Components/card components/card-components.html">Cards</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem active" href="/Components/image component/image.html">Image</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem " href="/Components/input component/input-component.html">Input</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem " href="/Components/Rating-component/rating.html">Rating</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem " href="/Components/Slider-component/slider.html">Slider</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem " href="/Components/Navbar component/navbar.html">Navbar</a>
                </li>
                <li>
                    <a class="anchor-style--none sidebar--listitem sidebar--listitem-sm" href="/Components/Grid simplified/grid-simplified.html">Grid simplified</a>
                </li>
            </nav>
        </aside>
        <main class="main__container--content ">
            <h1 class="title">Images</h1>
            <p class="main--content">lorem ipsum dolor sit amet, consectetur adip lorem, sed do eiusmod tempor incididunt ut lab</p>
            <h2 class="sub--title">Responsive image</h2>
            <p class="sub--content">lorem ipsum dolor sit amet, lorem ipsum dolor, sed do eiusmod tempor</p>
            <div class="container">
                <div class="image__container">
                    <img src="/Components/images/cryptopunk1.png" alt="cryptopunk4" class="image__responsive" />
                </div>
            </div>
            <div class="iframe--container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28247%2C247%2C247%2C1%29&t=one-light&wt=sharp&l=css&width=792&ds=false&dsyoff=53px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=dm&fs=14px&lh=139%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%250A%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%2522%2520alt%253D%2522%2522%2520class%253D%2522image__responsive%2522%2520%252F%253E%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%250A%250A%250A%250A%250A"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <h2 class="sub--title">Responsive-round image</h2>
            <p class="sub--content">lorem ipsum dolor sit amet, lorem ipsum dolor, sed do eiusmod tempor</p>
            <div class="container container-flex--columns">
                <div class="image__rounded-container">
                    <img src="/Components/images/cryptopunk1.png" alt="cryptopunk4" class="image__rounded" />
                </div>
            </div>
            <div class="iframe--container">
                <iframe src="https://carbon.now.sh/embed?bg=rgba%28247%2C247%2C247%2C1%29&t=one-light&wt=sharp&l=css&width=792&ds=false&dsyoff=53px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=dm&fs=14px&lh=139%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%250A%250A%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%2522%2520alt%253D%2522%2522%2520class%253D%2522image__rounded%2522%2520%252F%253E%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%250A%250A%250A%250A%250A"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <footer class="main__container--footer">
                <a href="/Components/card components/card-components.html" class="btn"><i class="fas fa-chevron-left btn__icon-left"></i>Cards</a>
                <a href="/Components/input component/input-component.html" class="btn">Input<i class="fas fa-chevron-right btn__icon-right"></i></a>
            </footer>
        </main>
    </section>

</body>

</html>