.toast {
    min-width: 33.33%;
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    position: relative;
}

.toast-icon {
    margin-right: 0.8rem;
}

.toast--link {
    margin-left: 1.5rem;
    font-style: none;
    color: inherit;
}

.toast-primary {
    background-color: var(--primary-color);
    color: var(--primary-color-dark);
}

.toast-secondary {
    background-color: var(--gray--light-color);
    color: var(--secondary-color);
}

.toast-positive {
    background-color: var(--positive-bg);
    color: var(--positive-color);
}

.toast-danger {
    color: var(--negative-color);
    background-color: var(--negative-bg);
}

.toast-warning {
    color: var(--warning-color);
    background-color: var(--warning-bg);
}

.btn-toast__close {
    border: 1px solid transparent;
    margin: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    cursor: pointer;
    background: none;
    color: inherit;
    z-index: 9999;
}

.btn-toast__close:focus {
    box-shadow: 0 0 0 2px black;
}

.btn-toast__close:hover {
    opacity: 1;
}

.toast--demo {
    position: fixed;
    bottom: 2.5rem;
    display: none;
}