.input__container {
    width: 100%;
    margin: 1rem 0 0.5rem;
    font-size: 1.8rem;
}

.input__label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.input__label--required::after {
    content: "*";
    color: var(--negative-color);
}

.input__field {
    display: block;
    width: 100%;
    padding: 0.65rem 1rem;
    border: 2px solid var(--secondary-color);
}

.input__field:focus {
    box-shadow: var(--input-box-shadow);
}

.input__field:disabled {
    background-color: var(--icon-avatar-bg);
}

.input__container--strong {
    color: var(--positive-color);
}

.input__container--strong input {
    border: 2px solid var(--positive-color);
}

.input__container--strong input::placeholder {
    color: var(--positive-color);
}

.input__container--strong input:focus {
    border: 2px solid var(--secondary-color);
    box-shadow: var(--input-box-shadow);
}

.input__container--good {
    color: var(--warning-color);
}

.input__container--good input {
    border: 2px solid var(--warning-color);
}

.input__container--good input::placeholder {
    color: var(--warning-color);
}

.input__container--good input:focus {
    border: 2px solid var(--secondary-color);
    box-shadow: var(--input-box-shadow);
}

.input__container--error {
    color: var(--negative-color);
}

.input__container--error input {
    border: 2px solid var(--negative-color);
}

.input__container--error input:focus {
    border: 2px solid var(--secondary-color);
    box-shadow: var(--input-box-shadow);
}

.input__container--error input::placeholder {
    border: 2px solid var(--negative-color);
}

.input__instructions {
    font-size: 1.4rem;
}