.header__container {
    height: 10vh;
    padding: 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.nav__container {
    margin-left: auto;
}

@media (max-width: 450px) {
    .nav__container {
        display: none;
    }
}