.main__container--sidebar {
    padding: 1.5rem 2rem;
    font-size: 3rem;
    height: calc(100vh - 2rem);
    position: sticky;
    top: 0;
}

.sidebar--listitem {
    font-size: 75%;
    padding: 0.5rem 1rem 0.5rem 3rem;
    display: grid;
    cursor: pointer;
}

.sidebar--listitem-sm {
    font-size: 62%;
}

.sidebar--listitem-title {
    border-bottom: 1.5px solid var(--primary-color);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.sidebar--listitem:hover,
.sidebar--listitem-title--animated:hover {
    background-color: var(--light-black-bg);
    color: white;
}

.sidebar--listitem:active,
.sidebar--listitem-title--animated:active {
    background-color: var(--light-black-bg);
    color: var(--primary-color);
}