.text {
    font-size: 3rem;
    position: relative;
    width: fit-content;
}

.avatar-badge {
    position: relative;
}

.status-badge {
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
}

.badge-online {
    background-color: var(--badge-online);
}

.badge-dnd {
    background-color: var(--badge-dnd);
}

.badge-offline {
    background-color: var(--badge-offline);
}

.badge-yellow {
    background-color: var(--badge-yellow);
}

.notification-badge {
    right: -1.25rem;
    top: -1.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1.75rem;
    background-color: var(--primary-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 3.25rem;
    position: relative;
}