.text {
    font-size: 3rem;
    position: relative;
    width: fit-content;
}

.avatar-badge {
    position: relative;
}

.status-badge {
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
}

.badge-online {
    background-color: var(--badge-online);
}

.badge-dnd {
    background-color: var(--badge-dnd);
}

.badge-offline {
    background-color: var(--badge-offline);
}

.badge-yellow {
    background-color: var(--badge-yellow);
}

.notification-badge {
    right: -1.25rem;
    top: -1.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1.75rem;
    background-color: var(--primary-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 3.25rem;
    position: relative;
}

.badge--text {
    font-size: 0.7em;
    font-weight: 600;
    padding: 0.16rem 0.6rem;
    background: #cfcfcf;
    border-radius: 0.3rem;
}

.heading>.badge--text {
    position: absolute;
    font-size: 50%;
    top: 0;
}

.badge--red {
    background: var(--red--light-color);
    color: var(--red-color);
    border-color: var(--red-color);
}

.badge--green {
    background: var(--green--light-color);
    color: var(--green-color);
    border-color: var(--green-color);
}

.badge--gray {
    background: var(--gray--light-color);
    color: var(--gray-color);
    border-color: var(--gray-color);
}

.badge--primary {
    background: var(--primary-color);
    color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}