:root {
    --primary-color: #e67e22;
    --primary-color-dark: #7c3a00;
    --primary-color-hover: #b3621c;
    --secondary-color: #000;
}

:root {
    --badge-online: green;
    --badge-dnd: #777;
    --badge-offline: red;
    --badge-yellow: yellow;
}