:root {
    --primary-color: #e67f10d2;
    --primary-color-dark: #7a3b04;
    --primary-color-hover: #e67e20;
    --secondary-color: #888;
}

:root {
    --badge-online: #38C238;
    --badge-dnd: #777;
    --badge-offline: #FF5D75;
    --badge-yellow: #FFFF00;
    --light-black-bg: rgba(0, 0, 0, 0.7);
    --light-white-bg: #FFFFFF;
    --icon-btn-color: #888;
    --icon-avatar-bg: rgba(119, 119, 119, 0.493);
    --card__action--btn-hover: #d6d6d6;
    --card__action--btn-bg: #FFFFFF;
    --red-color: #fd4e4e;
    --red--dark-color: #D84242;
    --red--light-color: #ffa3a3;
    --green-color: #38C238;
    --green--light-color: #7BFF7B;
    --gray-color: #727272;
    --gray--light-color: #CCCCCC;
}

:root {
    --warning-color: #ff9204;
    --positive-color: #1b7052;
    --negative-color: #dc3545;
    --input-box-shadow: 0 0 0 1px var(--icon-avatar-bg);
    --positive-bg: #84f1c9;
    --negative-bg: #fcc5c5;
    --warning-bg: #ffe7c5;
}


/*------sizes-----*/

:root {
    --size-xl: 20rem;
    --size-lg: 16rem;
    --size-std: 12rem;
    --size-sm: 8rem;
    --size-xsm: 5rem;
}

:root {
    --box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.212);
    ---box-shadow--card: 5px 5px 15px rgb(0 0 0 / 5%);
    --border-color: #ecececec;
}