:root {
    --primary-color: #e67e22;
    --primary-color-dark: #7c3a00;
    --primary-color-hover: #b3621c;
    --secondary-color: #000;
}

:root {
    --badge-online: green;
    --badge-dnd: #777;
    --badge-offline: red;
    --badge-yellow: yellow;
    --light-black-bg: rgba(0, 0, 0, 0.7);
    --icon-avatar-bg: rgba(119, 119, 119, 0.493);
}


/*------sizes-----*/

:root {
    --size-xl: 20rem;
    --size-lg: 16rem;
    --size-std: 12rem;
    --size-sm: 8rem;
    --size-xsm: 5rem;
}