.drawer{
    background-color: #fff;
    width: 25.5rem;

    /* background-color: yellow; */
}

.drawer__header, .nav{
    padding: 0.5rem 1rem 0 1rem;
}

.drawer-title{
    font-size: 2rem;
    margin: 0 0 -4.2rem;
}

.drawer-subtitle{
    font-size: 1.4rem;
    font-weight: 200; 
    margin-bottom: 0;
    color: rgba(105, 105, 105, 0.733);
}

.list-item{
    display: flex;
    flex-flow: row wrap;
    margin: 0.8rem;
    padding: 0.8rem;
    align-items: center;
    border-radius: 0.5rem;

    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}

.list-item:hover{
    background-color: #e7e7e765;
}

.list-item.active{
    color: #6200ee;
    background-color: #6300ee5d
}

.icon{
    margin: 0 3rem 0 1rem;
}






