.alert {
    width: 80%;
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    position: relative;
}

.alert-icon {
    margin-right: 0.8rem;
}

.alert-primary {
    background-color: var(--primary-color);
    color: var(--primary-color-dark);
}

.alert-secondary {
    background-color: var(--gray--light-color);
    color: var(--secondary-color);
}

.alert-positive {
    background-color: var(--positive-bg);
    color: var(--positive-color);
}

.alert-danger {
    color: var(--negative-color);
    background-color: var(--negative-bg);
}

.alert-warning {
    color: var(--warning-color);
    background-color: var(--warning-bg);
}

.btn-alert__close {
    border: 1px solid transparent;
    margin: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    cursor: pointer;
    background: none;
    color: inherit;
    z-index: 9999;
}

.btn-alert__close:focus {
    box-shadow: 0 0 0 2px black;
}

.btn-alert__close:hover {
    opacity: 1;
}