.alert {
    width: 80%;
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    position: relative;
}

.alert-icon {
    margin-right: 0.8rem;
}

.alert-primary {
    background-color: #7fd2e6;
    color: #29438b;
}

.alert-secondary {
    background-color: #eaeaec;
    color: #696b79;
}

.alert-positive {
    background-color: #84f1c9;
    color: #1b7052;
}

.alert-danger {
    color: #dc3545;
    background-color: #fcc5c5;
}

.alert-warning {
    color: #ff9204;
    background-color: #ffe7c5;
}

.btn-alert__close {
    border: 1px solid transparent;
    margin: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    background: none;
    color: inherit;
    z-index: 9999;
}

.btn-alert__close:focus {
    box-shadow: 0 0 0 2px black;
}

.btn-alert__close:hover {
    opacity: 1;
}