.modal__container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--light-black-bg);
    z-index: 99999;
}

.modal {
    padding: 3rem;
    width: 40%;
    margin: auto;
    background-color: var(--light-white-bg);
    border-radius: 2rem;
}

.modal>* {
    margin-bottom: 1rem;
}

.modal__title--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    font-size: 4rem;
}

.modal__btn {
    font-size: 2.5rem;
    cursor: pointer;
}

.Modal__description {
    font-size: 2rem;
}

@media (max-width: 400px) {
    .modal {
        width: 80%;
    }
    .modal__title {
        font-size: 2.5rem;
    }
    .modal__btn {
        font-size: 1.5rem;
    }
    .Modal__description {
        font-size: 1rem;
    }
}