.main__container {
    margin: auto;
    display: grid;
    grid-template-columns: 23rem 1fr;
}

.main__container--content {
    padding: 3rem;
}


/*-----------------------------media queries----------------------------------------------*/

@media (max-width: 500px) {
    .main__container {
        grid-template-columns: 1fr;
    }
    .main__container--sidebar {
        display: none;
    }
    .main__container--content {
        padding: 2rem 1rem 2rem 1rem;
    }
}