html,
body {
    background-color: #fff;
    color: #555;
}

.hero__container {
    background-image: linear-gradient(var(--light-black-bg), var(--light-black-bg)), url('/images/landing--bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero__primary--container {
    color: white;
    width: 80%;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero__primary--container>* {
    font-weight: 300;
}

.hero__primary--text {
    font-size: clamp(3rem, 10vw - 4rem, 5.25rem);
    margin-bottom: 1rem;
}

.hero__secondary--text {
    font-size: clamp(1.5rem, 7.5vw - 1.5rem, 2rem);
    width: 50%;
}

.btn--container {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 50%;
}

.btn__outlined {
    color: white !important;
}

.social-links--bottom {
    position: absolute;
    bottom: 0;
    right: 1rem;
}


/*------------------------------------------------*/

.installation--container {
    height: 80vh;
    padding: 0 4rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "title  title    ....... ........ ....... " " content3 content3 content3 ........ ........" "iframe1 iframe1 content1 content1 content1" "content2 content2 content2 iframe2 iframe2";
    gap: 1rem;
}

.iframe1 {
    grid-area: iframe1;
}

.iframe2 {
    grid-area: iframe2;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.installation__content--title {
    color: var(--primary-color);
    grid-area: title;
}

.installation__iframe--container {
    width: 100%;
}

.installation__content {
    font-size: clamp(1.5rem, 5vw - 1.5rem, 3rem);
    font-weight: 100;
}

@media (max-width: 400px) {
    .installation--container {
        grid-template-areas: "title  title    ....... ........ ....... " " content3 content3 content3 content3 content3" "content1 content1 content1 content1 content1" "iframe1 iframe1 iframe1 iframe1 iframe1" "content2 content2 content2 content2 content2" "iframe2 iframe2 iframe2 iframe2 iframe2";
    }
}